/*defining and styling log in box*/


* {
    box-sizing: border-box;   

}

body {
    margin: 0 auto;
    max-width: 880px;
    padding: 0 10px;
font-family: Arial, Helvetica, sans-serif;
}
     body {font-family: Helvetica, sans-serif;}
form {
    background-color: #ea5045;
        box-sizing: border-box;
        border: 3px solid #ea5045}
        
    

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    color: 0762c8;
}

button {
    background-color: #0762c8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  
}

button:hover {
    opacity: 0.8;
}



p{
        color: white;
    }

    
.container {
    padding: 16px;
    background-color: :#ea5045;
}

span.psw {
    float: right;
    padding-top: 16px;
    color: white;
}
@-webkit-keyframes bounce {
        0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  
  30%{
    transform: scale(1,0.8) translate(0px, 10px); 
  }

  75%{
    transform: scale(1,1.1) translate(0px, -25px); 
  }
  
 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}

.bounce {
      text-align:center;
      margin:0 auto;
      margin-top:50px;
      height:40px;
      width:100px;
      padding:30px;
    border-radius: 50px;
      background-color: #0762c8;
    color: white;
     -webkit-animation: bounce 0.75s infinite;
}


